.nav-auth, .nav-auth:hover, .nav-auth:active:active {
    background-color: white;
    color: rgb(81, 83, 100) !important;
    border-color: rgb(81, 83, 100);
}

.logo {
    width: 200px;
    height: auto;
  }